body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;

	.container {
		width: 75%;
	}
}
nav {
	padding: .2rem .5rem;
	position: relative;
	height: 6rem;
}
#logo {
	width: 5rem;
	height: 5rem;
	position: absolute;
	top: 0;
	right: 0;
}
