head
    meta(charset='utf-8')
    title The FreeDOME Express
    meta(name='description', content='The Rusty Express')
    meta(name='author', content='home')
    link(href="styles/remedy.css" type='text/css' rel='stylesheet')
    link(href="styles/mystyle.css" type='text/css' rel='stylesheet')
    link(href="styles/styles.css" type='text/css' rel='stylesheet')
    script(src='js/index.js')
