doctype html
html(lang='en-US')
    include includes/head.pug
    body
        .container
            include includes/header.pug
            h1 Welcome Home Kevin br
            hr
            ul  
                li macros in vim
                li other semantic markup
                li aria attributes in pug
                li pug pug pug !!!! 
            hr
            p this should be under a horizontal rule

            include includes/svg.pug