doctype html
html(lang='en-US')
    include includes/head.pug
    body
        .container
            include includes/header.pug
            h1 Welcome to FreeDOME
            hr
            h3 ToDo
            ul  
                li macros in vim
                li other semantic markup
                li aria attributes in pug
                li pug pug pug !!!! 
            hr
            p  It is not the way you fail but the way you get up and try again.

    include includes/svg.pug