doctype html
html(lang='en')
    head
        meta(charse='utf-8')
        title The Rusty Express
        meta(name='description', content='The Rusty Express')
        meta(name='author', content='home')
        link(href="reset.css" type='text/css' rel='stylesheet')
        link(href="my.css" type='text/css' rel='stylesheet')

    body
        h1 Hello World
        p Finally, I've gotten some text on the page
        ul
            li Add style (reset)
            li Fix this refresh
            li refresh is fine. styles not linked
        script(src='my.js')

        

