doctype html
html(lang='en')
    include head.pug
    body
        .container
            include header.pug
            p Originally I tried css reset but that was too extreme. Then I switched to css remedy. 
            p Much better results
            ul  
                li macros in vim
                li other semantic markup
                li aria attributes in pug
                li pug pug pug !!!! 
            
            aside
                h3 link list
                ul 
                    li 
                        a(href="https://meyerweb.com/eric/tools/css/reset/" target="new") reset
                    li
                        a(href="https://github.com/jensimmons/cssremedy" target="new") remedy


        script(src='my.js')

        

