doctype html
html(lang='en')
    include head.pug
    body
        .container
            include header.pug
            h1 Page 2
            svg.test 
                use(href="#heart")
            svg.test2
                use(href="circle1")
    

        script(src='my.js')

include svg.pug