doctype html
html(lang='en')
    include head.pug
    body
        .container
            include header.pug
            h1 This should be larger
            p I can't for the life of me, figure out why each page has different font sizes. 
            img.flower-pic(src="images/daffodil.jpg" alt"daffodil")
        script(src='my.js')
